/* Link Styles */
:root {
	--text-bl: #000000;
	--text-wh: rgba(255, 255, 255, 1);
	--bkgrnd-antr: #2F303A;
	--text-wh1: rgba(255, 255, 255, 0.6);
	--gen-blue: #2196F3;
	--header-bkgrnd: #FFFFFF;
	--footer-bkgrnd: #2F303A;
}



/* Global styles */
.logo-link,
.footer-link,
.header .logo-link {
	text-decoration: none;
	color: var(--gen-blue);
	Font family: Raleway Font;
	style: 700;
}

.header .header-logo {
	color: var(--text-bl);
}

.footer .footer-logo {
	color: var(--text-wh);
}
.header {
	background-color: var(--header-bkgrnd);
}
.footer {
	background-color: var(--footer-bkgrnd);
}
.list {
	list-style: none;
}
.link {
	text-decoration: none;
	cursor: pointer;
	color: var(--text-black)
}
.nav .link:hover,
.nav .link:focus,
.address-item .link:focus,
.address-item .link:hover,
.link:hover,
.link:focus {
	color: var(--gen-blue);
}
.hero-btn:hover,
.hero-btn:focus {
	color: var(--text-wh1);
}
.logo-link,
.foo .link:visited {
	color: currentColor;
}

.footer .link {
	color: var(--text-wh);
}

.address-item-link .link {
	color: var(--text-wh1);
}

/* Custom Styles */
.hero-title {
	Font family: r;
	Font style: black;
	Font size: 44px;
	Line height: 1.36;
	color: var(--text-wh);
}

.hero {
	background-color: var(--bkgrnd-antr);
}

.hero-btn {
	background-color: var(--gen-blue);
	color: var(--text-wh);
	Font font-family: Roboto;
	style: 700;
	Font size: 16px;
	Line height: 1.88;
}