.nav-item:hover,
.header-link:hover,
.adress-link:hover,
.nav-link:hover,
.nav-item:focus,
.header-link:focus,
.adress-link:focus,
.nav-link:focus {
	color: #2196F3
}

.header {
	background: #FFFFFF;
}

.footer {
	background: #2F303A;
}

.features {
	background: #FFFFFF;
	;
}

.our-team {
	background: #F5F4FA;
}

.hero {
	background: #2F303A;
}